*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::selection{
    background: red;
    color:wheat;
    } 


.parent_div{
    height: 100vh;
    width: 100vw;
    background: green;
    position: relative;

}

.child_div{
    height: 60vh;
    width: 60vw;
    background: red;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


    