
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.main_div{
    width:100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:black;
    color:burlywood;
   
}
.main_div *{
    padding-top: 5px;
}


li:nth-child(2n){
    color:red;
}
li:nth-child(2n+1){
    color:yellow
}
li:first-child{
    color: purple;
}

