*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Grenze Gotisch', cursive;
}
::selection{
    background: red;
    color:wheat;
    } 


.parent_div{
    height: 100vh;
    width: 100vw;
    background: grey;
    display: grid;
    place-items: center;
}

.child_div{
    height: 60vh;
    width: 60vw;
    background-image:linear-gradient(120deg, rgba(239, 247, 244, 0.9),50%, transparent 50%),
        url('./images/600-03297821en_Masterfile.jpg');
    background-size: 100% 100%;
    box-shadow: 0 10px 20px -6px #000;
    
}


    